<section class="projects">
    <h2>Featured Projects</h2>
    <div class="projects__container">
        {% for repo in repositories %}
        {% set cover_url = repo.html_url ~ '/raw/master/cover.png' %}
        {% if function('get_headers', cover_url, 1)[0] != 'HTTP/1.1 302 Found' %}
            <!-- TODO: Option -->
            {% set cover_url = '/wp-content/uploads/2019/02/not-found.png' %}
        {% endif %}
        <div class="project">
            <img src="{{ cover_url }}" class="project__cover" alt="{{ repo.name }}" />
            <h3 class="project__title">
                <a href="{{ repo.html_url }}" class="project__link">{{ repo.name }}</a>
            </h3>
            <span class="project__timestamp">pushed {{ repo.pushed_at | time_ago }}</span>
        </div>
        {% endfor %}
    </div>
</section>