<section class="information">
    <div class="information__container">
        <div class="calendar">
            <div class="calendar__header">
                <h2>Dates to Remember</h2>
                {% include 'components/button/Button.twig' with {'title': 'All Events', 'href': 'https://calendar.google.com/calendar/embed?src=mtu.edu_09qi6pfnktib7heh2grshjvqo4%40group.calendar.google.com&ctz=America%2FNew_York'} only %}
            </div>
            <hr /> 
            {% for event in calendar_events %}
            {% set event_start = date(event.start.dateTime ) %}
            <div class="event">
                <div class="event__meta">
                    <span class="event__date">
                        {{ event_start | date('d') }}
                    </span>
                    <span class="event__month">
                        {{ event_start | date('M') }}
                    </span>
                </div>
                <div class="event__information">
                    <span class="event__summary">
                        {{ event.summary }}
                    </span>
                    <br>
                    <span class="event__location">
                        {{ event.location }}
                    </span>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="plug">
            <div class="plug__container">
                <div class="plug__cover"></div>
                <div class="plug__content">
                    <div class="plug__text">
                        <div class="plug__lead">
                            {{ header }}
                        </div>
                        <p class="plug__description">
                            {{ description }}
                        </p>
                    </div>
                    {% include 'components/button/Button.twig' with {'title': cta , 'href': cta_link } only %}
                </div>
            </div>
        </div>
    </div>
</section>