{% extends 'pages/Base.twig' %}
{% block content %}
  {% include 'pages/landingPage/hero/Hero.twig' with {'quote': post.hero_quote, 'author': post.hero_author, 'image': TimberImage(post.hero_image) } only %}
  {% include 'pages/landingPage/intro/Intro.twig' with {'mission': post.mission, 'cta': post.mission_cta, 'cta_link': post.mission_cta_link } only %}
  
  <section class="projects">
	<h2>Featured Projects</h2>
	<div class="projects__container">
		{% for repo in repositories %}
		{% set cover_url = repo.html_url ~ '/raw/master/cover.png' %}
		{% if function('get_headers', cover_url, 1)[0] != 'HTTP/1.1 302 Found' %}
			{% set cover_url = '/wp-content/uploads/2019/02/not-found.png' %}
		{% endif %}
		<div class="project">
			<img src="{{ cover_url }}" class="project__cover" alt="{{ repo.name }}" />
			<h3 class="project__title">
				<a href="{{ repo.html_url }}" class="project__link">{{ repo.name }}</a>
			</h3>
			<span class="project__timestamp">updated {{ repo.pushed_at | time_ago }}</span>
		</div>
		{% endfor %}
	</div>
  </section>

  <section id="information" class="p-8 bg-grey-lighter">
    <div class="container mx-auto lg:flex">
      <div class="w-full lg:w-2/5 lg:mr-8">
        <div class="flex items-center justify-between">
          <h2>Dates to Remember</h2>
          {% include 'components/button/Button.twig' with {'title': 'All Events', 'href': 'https://calendar.google.com/calendar/embed?src=mtu.edu_09qi6pfnktib7heh2grshjvqo4%40group.calendar.google.com&ctz=America%2FNew_York'} only %}
        </div>
        <hr class="bg-black h-px"> 
        {% for event in calendar_events %}
        {% set event_start = date(event.start.dateTime ) %}
        <div class="flex items-center justify-between mb-4">
          <div class="w-24 h-24 flex-no-shrink bg-blue mr-4 text-center flex flex-col items-center justify-center">
            <span class="text-white font-bold text-4xl leading-none">
              {{ event_start | date('d') }}
            </span>
            <span class="text-white font-light text-2xl leading-none">
              {{ event_start | date('M') }}
            </span>
          </div>
          <div class="block bg-white flex-grow h-24 p-4">
            <span class="font-semibold text-xl leading-normal">
              {{ event.summary }}
            </span>
            <br>
            <span class="font-light text-lg leading-normal">
              {{ event.location }}
            </span>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="w-full lg:w-3/5">

        <div class="w-full lg:flex mb-8">
          <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover text-center overflow-hidden" style="background-image: url(https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260);"></div>




          <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white p-4 flex flex-col justify-between leading-normal">
            <div class="mb-8">
              <div class="text-black font-bold text-xl mb-2">
                Are you interested in open source software, programming, or anything code related?
              </div>
              <p class="text-grey-darker">
                If this sounds like you, you might be a perfect member for the Open Source Club at Michigan Tech!
              </p>
            </div>


            {% include 'components/button/Button.twig' with {'title': 'Join the Club' } only %}
          </div>
          
        </div>
        <!--
        <div class="w-full lg:flex mb-8" style="margin-top:-2px;">
            
  
  
  
  
            <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-grey-light bg-white p-4 flex flex-col justify-between leading-normal">
              <div class="mb-8">
                <div class="text-black mb-2">
                  <span class="font-bold text-xl">Open Source 101</span>&nbsp;<span class="text-sm">5 Days Ago</span>
                  <br />
                  <span class="text-sm">John Doe</span>
                </div>
                <p class="text-grey-darker">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum a dolorum alias ea commodi aspernatur, architecto numquam dignissimos vero unde.
                </p>
              </div>
  
  
              {% include 'components/button/Button.twig' with {'title': 'Read More' } only %}
            </div>
            <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover text-center overflow-hidden" style="background-image: url(https://images.pexels.com/photos/167682/pexels-photo-167682.jpeg?auto=compress&amp;cs=tinysrgb&amp;h=750&amp;w=1260);"></div>
            
          </div>-->

      </div>
    </div>
  </section>

    {% endblock %}
