<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    {{ wp_head }}
  </head>

	<body>
		{% block header %}
			{% include 'components/Header.twig' %}
  	{% endblock %} 
  
  
   {% block content %}
   {% endblock %}
  
 
  {% include 'components/footer/Footer.twig' with {'site': site } only %}
  {{ wp_footer }}
</body>

</html>
